In [1]:
import pandas as pd 
import numpy as np

In [2]:
a = pd.read_csv("/home/student/Downloads/Salary_Data.csv")
a

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0
...,...,...,...,...,...,...
6699,49.0,Female,PhD,Director of Marketing,20.0,200000.0
6700,32.0,Male,High School,Sales Associate,3.0,50000.0
6701,30.0,Female,Bachelor's Degree,Financial Manager,4.0,55000.0
6702,46.0,Male,Master's Degree,Marketing Manager,14.0,140000.0
6703,26.0,Female,High School,Sales Executive,1.0,35000.0

In [3]:
a['Age'].mean()

np.float64(33.62085944494181)

In [4]:
a['Age'].median()

32.0

In [7]:
a['Age'].min()

21.0

In [8]:
a['Age'].max()

62.0

In [9]:
a['Age'].std()

7.614632626251171

In [9]:
a['Salary'].mean()

np.float64(115326.96477086132)

In [10]:
a['Salary'].median()

115000.0

In [11]:
a['Salary'].min()

350.0

In [12]:
a['Salary'].max()

250000.0

In [10]:
a['Salary'].std()

52786.183910682936

In [12]:
grp1 = a.groupby('Age')['Salary'].sum()

In [13]:
grp1

Age
21.0      450000.0
22.0      493664.0
23.0     4907969.0
24.0    12252540.0
25.0    18099430.0
26.0    25917999.0
27.0    40032721.0
28.0    36096218.0
29.0    38079549.0
30.0    45305876.0
31.0    41634852.0
32.0    42295563.0
33.0    50715256.0
34.0    40808175.0
35.0    23873167.0
36.0    37674155.0
37.0    22922556.0
38.0    20589650.0
39.0    23270669.0
40.0    13787395.0
41.0    20025388.0
42.0    27447636.0
43.0    26134685.0
44.0    20225378.0
45.0    24528138.0
46.0    17466721.0
47.0     8401255.0
48.0    18886937.0
49.0    17200236.0
50.0    16794791.0
51.0     6010682.0
52.0     5441252.0
53.0     1265646.0
54.0    12907505.0
55.0     3175715.0
56.0     2162354.0
57.0     1592944.0
58.0     1370008.0
60.0      930662.0
61.0      400000.0
62.0     1000000.0
Name: Salary, dtype: float64

In [16]:
a["Age Group"] = pd.cut(
    a["Age"],
    bins=[20, 30, 40, 50, 62],
    labels=["20-30","31-40","41-50","51-62"],
)

In [17]:
a

,Age,Gender,Education Level,Job Title,Years of Experience,Salary,Age Group
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0,31-40
1,28.0,Female,Master's,Data Analyst,3.0,65000.0,20-30
2,45.0,Male,PhD,Senior Manager,15.0,150000.0,41-50
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0,31-40
4,52.0,Male,Master's,Director,20.0,200000.0,51-62
...,...,...,...,...,...,...,...
6699,49.0,Female,PhD,Director of Marketing,20.0,200000.0,41-50
6700,32.0,Male,High School,Sales Associate,3.0,50000.0,31-40
6701,30.0,Female,Bachelor's Degree,Financial Manager,4.0,55000.0,20-30
6702,46.0,Male,Master's Degree,Marketing Manager,14.0,140000.0,41-50
6703,26.0,Female,High School,Sales Executive,1.0,35000.0,20-30